# Python compilé
__pycache__/
*.pyc

# Environnements virtuels 
venv/
env/
.env

# Paramètres IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Données sensibles / fichiers Excel
ALM_modulaire/data/inputs/AssumptionForSimulation.xlsx